In [2]:
print("hello")

hello

# MAP syntax :map(function,iterable)
here we have to give only iterable onjects
we only store it in list only otherwise it returns the address

In [8]:
items = [(3456,"shoe",780),(3566,"phone",25,000),(2537,"book",340),(4653,"pen",76)]
inr_usd = lambda item:(item[0],item[1],round((item[2]/74),2))
inr_usd = lambda item:(item[1],round((item[2]/74),2))
usd=list(map(inr_usd,items))
print(usd)

[('shoe', 10.54), ('phone', 0.34), ('book', 4.59), ('pen', 1.03)]

In [2]:
val = [1,2,3,4,5,6,7,8,9]
sqr_val = list(map(lambda x: x*x ,val))
print(sqr_val)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [3]:
def sq_qn(num):
    return num*num
square_val=list(map(sq_qn,val))
print(square_val)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [7]:
students=[("maths","anitha",180),("biology","anand",182),("biology","balaji",170),("maths","chandru",190)]
stu_mark = lambda item:(item[1].title(),(item[2]/2))
print(list(map(stu_mark,students)))

[('Anitha', 90.0), ('Anand', 91.0), ('Balaji', 85.0), ('Chandru', 95.0)]

In [9]:
number=[72,78,99,12,56]
print(list(map(lambda num: "even" if num%2==0 else "odd",number)))

['even', 'even', 'odd', 'even', 'even']

In [11]:
temp = [102,99,89,70,103]
print(list(map(lambda tem:round(((tem-32)*5)/9,2),temp)))

[38.89, 37.22, 31.67, 21.11, 39.44]

# Filter
filter(function,iterable)
a func is should be  defigned like , it returns either True or False , it adds true value and false value

In [12]:
less_than_500 = lambda item:item[2]<500
filtered = list(filter(less_than_500,items))
print(filtered)
less_than_500 = lambda item:item[1][0] =="p"
filtered = list(filter(less_than_500,items))
print(filtered)

[(3566, 'phone', 25, 0), (2537, 'book', 340), (4653, 'pen', 76)]
[(3566, 'phone', 25, 0), (4653, 'pen', 76)]

In [14]:
items = [(3456,"shoe",780),(3566,"phone",25,000),(2537,"book",340),(4653,"pen",76)]
print(list(filter(lambda item:item[0] >3000 and item[0]<4000 ,items)))

[(3456, 'shoe', 780), (3566, 'phone', 25, 0)]

In [20]:
students=[("maths","anitha",180),("biology","anand",182),("biology","balaji",170),("maths","chandru",190)]
print(list(filter(lambda item:item[0][1] == "a",students)))

[('maths', 'anitha', 180), ('maths', 'chandru', 190)]

In [21]:
print(list(filter(lambda item:item[2] > 180,students)))

[('biology', 'anand', 182), ('maths', 'chandru', 190)]

# REDUCE 
reduce(function,iterable),perform func on first 2 elements and repeats it until one value remains on the iterable 
we have to import functools

In [19]:
import functools
#value = [1,2,3,4,5,6,7,8,9]
sum = functools.reduce(lambda x,y:x+y,val)
print(sum)

45

In [22]:
chars =['a','b','c','d','e','f']
char_sum = functools.reduce(lambda x,y:x+y,chars)
print(char_sum)

abcdef

# List comprehension
to create a new list from existing list
list = [expression for item in iterable]

In [3]:
#printing square of a num with map and list comprehension
sq_list=list(map(lambda x:x*x,range(1,11)))
print(sq_list)
pr_num=list(i*i for i in range(1,11))
print(pr_num)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [4]:
#we can add if conditions also
temp = [28,48,30,20,29,28,38,32]
tem_list=list(i for i in temp if i<30)
print(tem_list)

[28, 20, 29, 28]

In [9]:
# if you want to add else , give if-else exp before for
temp = [28,48,30,20,29,28,38,32]
tem_list=[i if i<30 else 0 for i in temp ]
print(tem_list)

[28, 0, 0, 20, 29, 28, 0, 0]

# Dictionary comprehension
dictionary = {key:expression for{key,value} in iterable}

In [10]:
cart = {"phone":25000.00,"lamp":300.70,"table":5499.99,"pen":50.12,"bag":650.30,"kettle":1200.34}
cart_rounded = {key:round(val) for (key,val) in cart.items()} #if we use key ,val in key:round(val) , in for loop also use key,val
print(cart_rounded)
#we can modify key and values

{'phone': 25000, 'lamp': 301, 'table': 5500, 'pen': 50, 'bag': 650, 'kettle': 1200}

In [11]:
cart_rounded = {key[0]:round(val) for (key,val) in cart.items()} #if we use key ,val in key:round(val) , in for loop also use key,val
print(cart_rounded)

{'p': 50, 'l': 301, 't': 5500, 'b': 650, 'k': 1200}

In [12]:
cart2 = {k:v for (k,v) in cart.items() if v>1000}
print(cart2)

{'phone': 25000.0, 'table': 5499.99, 'kettle': 1200.34}

In [14]:
#dictionary = {key: expression if else for{key,value} in iterable}
cart3 = {key:val*.9 if val>20000 else val for (key,val) in cart.items()}
print(cart3)

{'phone': 22500.0, 'lamp': 300.7, 'table': 5499.99, 'pen': 50.12, 'bag': 650.3, 'kettle': 1200.34}

In [17]:
#dictionary = {key:func for (key,val) in iterable}
def func_disc(k,v):
    if (k == "lamp" or k == "table"):
        v=round(.95*v)
    return v 
cart4= {k:func_disc(k,v) for (k,v) in cart.items()}
print(cart4)

{'phone': 25000.0, 'lamp': 286, 'table': 5225, 'pen': 50.12, 'bag': 650.3, 'kettle': 1200.34}

# zip
zips two or more iterable into a single iterable

In [18]:
items = ("phone","table","lamp","pen","book")
prices = (25000,3000,340,35,400)
zipped = list(zip(items,prices))
print(zipped) # it returns as a tuple

[('phone', 25000), ('table', 3000), ('lamp', 340), ('pen', 35), ('book', 400)]

In [22]:
items = ["phone","table","lamp","pen","book"]
prices = [25000,3000,340,35,400]
stocks = [12,34,56,25]
zipped = list(zip(items,prices,stocks))
print(zipped)
stocks = [12,34,56]
zipped = list(zip(items,prices,stocks))
print(zipped)# now it returns 3 values only

[('phone', 25000, 12), ('table', 3000, 34), ('lamp', 340, 56), ('pen', 35, 25)]
[('phone', 25000, 12), ('table', 3000, 34), ('lamp', 340, 56)]